<h1>질문 리스트</h1>

<table border="1">
    <colgroup>
        <col width="60px">
        <col width="250px">
        <col width="250px">
    </colgroup>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="q : ${questionList}">
        <td th:text="${q.id}"></td>
        <td>
            <a th:href="@{|/question/detail/${q.id}|}" th:text="${q.subject}"></a>
        </td>
        <td>
            <a th:href="@{|/question/detail/${q.createDate}|}" th:text="${q.createDate}"></a>
        </td>
    </tr>
    </tbody>
</table>