<html layout:decorate="~{layout}"> <!-- ~{layout} : 부모 레이아웃 -->

<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="q, loop : ${questionList}">
            <td>
                <a th:text="${loop.count}" th:href="@{|/question/detail/${q.id}|}"></a>
            </td>
            <td>
                <a th:href="@{|/question/detail/${q.id}|}" th:text="${q.subject}"></a>
            </td>
            <td th:text="${#temporals.format(q.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>

</html>